.section{
    background-color: bisque;
}
input{
    border-radius: 5px;
}
body{
    background-color: rgb(255, 244, 230);
} 
#sd{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color: coral;
}
button:hover{
    background-color: rgb(221, 221, 199);
}